* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
  text-decoration: none;
}

.hover {
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  width: 50px;
  text-align: center;
  right: 0;
  justify-content: center;
  padding: 10px 10px;
  align-items: center;
  transition: 0.3s ease;

  p {
    font-weight: 600;
    font-size: 23px;
    transform: rotate(-90deg);
    &:hover {
      cursor: pointer;
    }
  }
}

#nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: 0.3s ease;
  top: 0;
  right: 0;
  padding: 10px 10px;
  align-items: center;
  background-color: #f0f0f060;
  transform: translateX(100%);
  backdrop-filter: blur(10px);
  &.active {
    transform: translateX(0%);
  }
  a {
    opacity: 0.5;
    color: black;
    font-weight: 600;
    margin-bottom: 20px;
    text-decoration-style: dotted;
    &:hover {
      opacity: 1;
      cursor: pointer;
      font-weight: 600;
    }
  }
}

$stack_color: #0047ff;
.forms {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  form {
    display: flex;
    flex-direction: column;
    width: 438px;
    text-align: center;

    input,
    select {
      margin: 8px 0;
      border: 2px solid black;
      border-radius: 10px;
      padding: 20px 25px;
      &::placeholder {
        opacity: 1;
        font-weight: 600;
        text-transform: capitalize;
        color: black;
      }
      &:hover {
        cursor: pointer;
      }
    }

    button {
      padding: 20px 25px;
      position: relative;
      border-radius: 10px;
      border: none;
      // background: $stack_color;
      p {
        position: relative;
        z-index: 1;
        &:hover {
          cursor: pointer;
        }
      }
      &::before {
        z-index: 1;
        transform: scaleX(0);
        transform-origin: bottom right;
        border-radius: 10px;
      }

      &:hover {
        .p {
          color: white;
        }
      }

      &:hover::before {
        cursor: pointer;
        transform: scaleX(1);
        transform-origin: bottom left;
      }

      &::before {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 10px;
        background-color: $stack_color;
        inset: 0 0 0 0;
        z-index: 0;
        transition: transform 0.6s ease;
      }
    }
  }
  .switch {
    font-size: 16px;
    font-weight: 700;
    color: $stack_color;
    text-decoration: none;
    margin-top: 32px;
  }
}

.home {
  .home-title {
    margin: 20px 0;
    color: black;
    font-weight: 800;
    font-size: 32px;
  }
  .home-email {
    font-weight: 700;
    color: blue;
    font-size: 30px;
    margin: 20px 0 80px;
  }
}

.container {
  padding: 0 150px;
  background: #f0f0f0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .act,
  .about {
    display: flex;
    align-items: center;
    p {
      a {
        color: black;
      }
      font-weight: 500;
      margin-right: 21px;
      &:hover {
        cursor: pointer;
      }
    }
    .logo {
      display: flex;
      align-items: center;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.lat {
  padding: 0 150px;
}

.wallet {
  margin: 0 auto;
  padding: 0 150px;
  .Container {
    .FlexBox {
      margin: 20px 0;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: 150px;
      grid-gap: 20px;
      .item {
        border-radius: 15px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: white;
        background: linear-gradient(
          90deg,
          rgba(5, 51, 215, 1) 0%,
          rgba(106, 0, 255, 1) 100%
        );
        &:nth-child(1n + 8) {
          background: linear-gradient(
            90deg,
            rgb(0, 0, 0) 0%,
            rgba(106, 0, 255, 1) 100%
          );
        }
        &:nth-child(2n) {
          background: linear-gradient(
            90deg,
            rgb(149, 0, 255) 0%,
            rgb(255, 0, 111) 100%
          );
        }
        &:nth-child(3n) {
          background: linear-gradient(
            90deg,
            rgb(0, 238, 255) 0%,
            rgb(0, 119, 255) 100%
          );
        }
        &:nth-child(3n + 4) {
          background: linear-gradient(
            90deg,
            rgb(0, 238, 255) 0%,
            rgb(0, 119, 255) 100%
          );
        }
        &:nth-child(4n) {
          background: linear-gradient(
            90deg,
            rgb(2, 117, 126) 0%,
            rgb(0, 138, 11) 100%
          );
        }
      }
    }
    .MoreCard {
      color: blue;
      font-size: 23px;
      font-weight: 600;
      margin-top: 10px;
    }
  }
}

.latetrans {
  width: 100%;
  margin: 60px auto;
  h1 {
    margin-bottom: 30px;
  }
}

.before {
  width: 100%;
  table {
    width: 100%;
    tbody,
    thead {
      tr {
        width: 100%;
        display: flex;
        justify-content: space-between;
        display: grid;
        grid-auto-rows: 50px;
        align-items: center;
        justify-content: space-between;
        grid-template-columns: repeat(5, 1fr);
        th,
        td {
          justify-content: center;
          display: flex;
          align-items: center;
        }
      }
      width: 100%;
    }
    tbody {
      tr {
        border-bottom: 1px solid #f0f0f0;
      }
    }
  }
}

.addCard {
  background-color: blue;
  width: 550px;
  color: white;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-radius: 10px;
}

.col-sm-2 {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bars6 {
  display: block;
  position: absolute;
  top: -45px;
  height: 50px;
  width: 50px;
}

#bars6 span {
  position: absolute;
  display: block;
  bottom: 10px;
  width: 9px;
  height: 5px;
  background: rgba(0, 0, 0, 0.25);
  animation: bars6 1.5s infinite ease-in-out;
}

#bars6 span:nth-child(1) {
  left: 1px;
  animation-delay: 0s;
}

#bars6 span:nth-child(2) {
  left: 11px;
  animation-delay: 0.2s;
}

#bars6 span:nth-child(3) {
  left: 22px;
  animation-delay: 0.4s;
}

#bars6 span:nth-child(4) {
  left: 33px;
  animation-delay: 0.6s;
}

#bars6 span:nth-child(5) {
  left: 44px;
  animation-delay: 0.8s;
}

@keyframes bars6 {
  0% {
    height: 5px;
    transform: translateY(0px);
    background: rgba(0, 0, 0, 0.25);
  }
  25% {
    height: 30px;
    transform: translateY(15px);
    background: #0057e7;
  }
  50% {
    height: 5px;
    transform: translateY(0px);
    background: rgba(0, 0, 0, 0.25);
  }
  100% {
    height: 5px;
    transform: translateY(0px);
    background: rgba(0, 0, 0, 0.25);
  }
}