<template>
  <div id="trans" class="forms">
    <form>
      <h1>Добавить транзакцию</h1>
      <input type="text" placeholder="Из кошелька" />
      <input type="text" placeholder="Валюта" />
      <button>
         <p :hidden="this.isBool">Добавить</p>
        <div :hidden="!this.isBool">
          <div class="col-sm-2">
            <div id="dots3">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </div>
      </button>
      <router-link to="/" class="switch">Назад</router-link>
    </form>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  computed: {
    ...mapGetters(["user"]),
  },
  methods: {
    ...mapActions(["CHECK_ME", "isBool"]),
  },
  created() {
    this.CHECK_ME();
  },
};
</script>

<style>
</style>