<template>
  <div id="AddWallete" class="forms">
    <form>
      <h1>Добавить кошелек</h1>
      <input type="text" placeholder="Имя" name="name" />
      <input type="text" placeholder="Валюта" name="value" />
      <button>
        <p :hidden="this.isBool">Добавить</p>
        <div :hidden="!this.isBool">
          <div class="col-sm-2">
            <div id="dots3">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </div>
      </button>
      <router-link to="/" class="switch">Назад</router-link>
    </form>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  computed: {
    ...mapGetters(["user"]),
  },
  methods: {
    ...mapActions(["CHECK_ME", "isBool"]),
  },
  created() {
    this.CHECK_ME();
  },
}
</script>

<style>

</style>