<template>
  <div id="enter" class="forms">
    <form @submit="GOON()">
      <h1>Войти</h1>
      <input type="text" name="email" placeholder="Почта" />
      <input type="text" name="password" placeholder="Пароль" />
      <button>
        <p :hidden="this.isBool">Продолжить</p>
        <div :hidden="!this.isBool">
          <div class="col-sm-2">
            <div id="dots3">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </div>
      </button>
      <router-link to="/Register" class="switch">Регистрация</router-link>
    </form>
  </div>
</template>

<script>
import { mapActions, mapMutations, mapGetters } from "vuex";

export default {
  methods: {
    ...mapActions(["GOON"]),
  },
  computed: {
    ...mapGetters(["isBool"])
  },
};
</script>

<style>
</style>