<template>
  <div class="home">
    <Header />

    <div class="wallet">
      <div class="home">
        <p class="home-title">
          Добро пожаловать, {{ `${user.name} ${user.secondName}` }}!
        </p>
        <p class="home-email">{{ user.email }}</p>
      </div>
      <h1 class="mywallet">Мои кошельки</h1>
      <div class="Container">
        <div class="MainBlock">
          <div class="FlexBox">
            <div class="item" v-for="item of this.stack" :key="item">
              <h1>Visa</h1>
              <p>RUB</p>
            </div>
          </div>
          <router-link class="MoreCard" to="/Morecard"
            >Просмотреть все кошельки </router-link
          >
        </div>
        <div class="latetrans">
          <h1>Последние транзакции</h1>

          <div class="before">
            <table>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Отправлено с помошью</th>
                  <th>Категория</th>
                  <th>Сумма транзакции</th>
                  <th>Когда</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>ID</td>
                  <td>Visa</td>
                  <td>Авомобиль</td>
                  <td>Сумма транзакции</td>
                  <td>16.12.2022</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Header from "../components/Header.vue";
import { mapActions, mapGetters } from "vuex";

export default {
  data() {
    return {
      stack: [1, 2, 3, 4, 5, 6, 8, 7],
    };
  },
  components: {
    Header,
  },
  computed: {
    ...mapGetters(["user"]),
  },
  methods: {
    CoutPlus: function () {
      this.count = this.count += 3;
      this.stack = this.stack.splice(0, +this.count);
    },
    ...mapActions(["CHECK_ME"]),
  },
  created() {
    if (this.stack.length >= 6) {
      this.stack.splice(8);
    }
    this.CHECK_ME();
  },
};
</script>
