<template>
  <div class="home">
        <Header/>
       <div class="wallet">
      <div class="home">
        <p class="home-title">
          Добро пожаловать, {{ `${user.name} ${user.secondName}` }}!
        </p>
        <p class="home-email">{{ user.email }}</p>
      </div>
      <h1>Мои кошельки</h1>
      <div class="Container">
        <div class="MainBlock">
          <div class="FlexBox">
            <div class="item" v-for="item of this.stack" :key="item">
              <h1>Visa</h1>
              <p>RUB</p>
            </div>
          </div>
        </div>
        <router-link class="addCard" to="/AddWallet">Добавить</router-link>
      </div>
    </div>
  </div>
</template>

<script>
import Header from "../components/Header.vue";
import { mapActions, mapGetters } from "vuex";

export default {
  data() {
    return {
      stack: [1, 2, 3, 4, 5, 6, 8, 7],
    };
  },
  components: {
    Header,
  },
  computed: {
    ...mapGetters(["user"]),
  },
  methods: {
    ...mapActions(["CHECK_ME"]),
  },
  created() {
    if (this.stack.length >= 6) {
      this.stack.splice(8);
    }
    this.CHECK_ME();
  },
};
</script>

<style>
</style>