<template>
  <div class="home">
      <Header />

    <div class="latetrans lat">
      <h1>Мои транзакции</h1>

      <div class="before">
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Отправлено с помошью</th>
              <th>Категория</th>
              <th>Сумма транзакции</th>
              <th>Когда</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>ID</td>
              <td>Visa</td>
              <td>Авомобиль</td>
              <td>Сумма транзакции</td>
              <td>16.12.2022</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import Header from "../components/Header.vue";
import { mapActions, mapGetters } from "vuex";
export default {
  components: {
    Header,
  },
  computed: {
    ...mapGetters(["user"]),
  },
  methods: {
    ...mapActions(["CHECK_ME"]),
  },
  created() {
    this.CHECK_ME();
  },
};
</script>

<style>
</style>