<template>
  <div id="register" class="forms">
    <form @submit="REGISTER()">
      <h1>Регистрация</h1>
      <input type="text" placeholder="Почта" name="email" />
      <input type="text" placeholder="Имя" name="name" />
      <input type="text" placeholder="Фамилия" name="secondName" />
      <input type="text" placeholder="Пароль" name="password" />

      <button>
        <p class="p" :hidden="this.isBool">Продолжить</p>
        <div :hidden="!this.isBool">
          <div class="col-sm-2">
            <div id="bars6">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </div>
      </button>
      <router-link to="/Enter" class="switch">Войти в аккаунт</router-link>
    </form>
  </div>
</template>

<script>
import { mapActions, mapMutations, mapGetters } from "vuex";

export default {
  methods: {
    ...mapActions(["REGISTER"]),
  },
  computed: {
    ...mapGetters(["isBool"]),
  },
};
</script>

<style>
</style>