<template>
  <div id="trans" class="forms">
    <form>
      <h1>Добавить транзакцию</h1>
      <input type="emai" placeholder="Из кошелька" />
      <input type="number" placeholder="Сумма" />
      <select>
        <option value="Категория" selected>Категори</option>
        <option value=""></option>
        <option value=""></option>
      </select>
      <button>
        <p :hidden="this.isBool">Продолжить</p>
        <div :hidden="!this.isBool">
          <div class="col-sm-2">
            <div id="dots3">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </div>
      </button>
      <router-link to="/" class="switch">Главная</router-link>
    </form>
  </div>
</template>

<script>
import { mapActions, mapMutations, mapGetters } from "vuex";

export default {
  computed: {
    ...mapGetters(["user", "isBool"]),
  },
  methods: {
    ...mapActions(["CHECK_ME"]),
  },
  created() {
    this.CHECK_ME();
  },
};
</script>

<style>
</style>