<template>
  <div id="header">
    <div class="container">
      <div class="act">
        <p><router-link to="/">Главная</router-link></p>
        <p><router-link to="/MoreCard">Мои кошельки</router-link></p>
        <p><router-link to="/MyTrans">Мои транзакции</router-link></p>
      </div>
      <div class="about">
        <p>{{user.email}}</p>
        <div class="logo" @click="GOOUT()">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="red" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  methods:{
    ...mapActions(["GOOUT"])
  },
  computed:{
    ...mapGetters(["user"])
  }
};
</script>

<style>
</style>