<template>
  <div id="app">
    <div class="hover" @mouseenter="isActive = true"></div>

    <div
      id="nav"
      @mouseleave="isActive = false"
      :class="isActive ? 'active' : ''"
    >
      <router-link to="/">Home</router-link>
      <router-link to="/Register">Register</router-link>
      <router-link to="/Enter">Enter</router-link>
      <router-link to="/Add">Add</router-link>
      <router-link to="/Trans">Transition</router-link>
      <router-link to="/MoreCard">More Card</router-link>
      <router-link to="/MyTrans">My Trana</router-link>
      <router-link to="/AddWallet">Add wallete</router-link>
    </div>
    <router-view />
  </div>
</template>


<script>
import "../css/style.css";
export default {
  data() {
    return { isActive: false };
  },
};
</script>
<style>
</style>
